*.bak
secrets.yaml
*.log
*.db
*.db-shm
*.db-wal
*.log.*
.cloud
humidity_test
aqi_test
esphome/fonts
zigbee2mqtt/log
database.db.backup
coordinator_backup.json
state.json
image
custom_components
.storage
www/community
*.backup
node-red/package-lock.json
node-red/node_modules/.package-lock.json
themes
tts
.HA_VERSION
*~
esphome/testing
esphome/archive
