defaults:
  channel_r: 1
  channel_g: 2
  channel_b: 3
  channel_w: 4
  channel_d: 5
  light_id: dmx_light
  light_name: DMX Light


output:
  - platform: dmx512
    universe: dmx
    channel: ${channel_r}
    id: ${light_id}_red
  - platform: dmx512
    universe: dmx
    channel: ${channel_g}
    id: ${light_id}_green
  - platform: dmx512
    universe: dmx
    channel: ${channel_b}
    id: ${light_id}_blue
  - platform: dmx512
    universe: dmx
    channel: ${channel_w}
    id: ${light_id}_white
  - platform: dmx512
    universe: dmx
    channel: ${channel_d}
    id: ${light_id}_dimmer 

light:
  - platform: rgbw
    gamma_correct: 0
    restore_mode: RESTORE_DEFAULT_ON
    icon: mdi:spotlight
    default_transition_length: 0s
    name: ${light_name}
    id: ${light_id}
    red: ${light_id}_red
    green: ${light_id}_green
    blue: ${light_id}_blue
    white: ${light_id}_white
    effects:
      - pulse:
      - pulse:
          name: "Pulse Fast"
          transition_length: 0s
          update_interval: 0.1s
      - random:
      - random:
          name: "Random Fast"
          update_interval: 0.1s
          transition_length: 0.5s
      - lambda:
          name: Strobe
          update_interval: 0.005s
          lambda: |-
            static bool on = false;
            static uint32_t last_toggle = 0;

            uint32_t now = millis();
            uint32_t interval = id(strobe_period).state * 500;  // half period in ms

            if (now - last_toggle >= interval) {
              last_toggle = now;
              on = !on;

              id(dmx).write_channel(${channel_d}, on ? 255 : 0);
            }

  - platform: monochromatic
    restore_mode: RESTORE_DEFAULT_ON
    icon: mdi:blur
    default_transition_length: 0s
    name: "${light_name} Dimmer"
    id: ${light_id}_dimmer_light
    output: ${light_id}_dimmer