substitutions:
  name: "everything-presence-one"
  friendly_name: "Everything Presence One"
  project_name: "Everything Smart Technology.Everything Presence One"
  project_version: "1.2.6"
  temperature_offset: "-3"
  humidity_offset: "5"
  temperature_update_interval: "60s"
  illuminance_update_interval: "2s"
  hidden_ssid: "false"
  factory_reset_disabled: "true"
  uart_target_output_disabled: "true"
  uart_presence_output_disabled: "true"
  log_level: "ERROR"

update:
  - platform: http_request
    id: update_http_request
    name: Everything Presence One Firmware
    source: https://everythingsmarthome.github.io/everything-presence-one/everything-presence-one-manifest.json
    disabled_by_default: true

dashboard_import:
  package_import_url: github://everythingsmarthome/everything-presence-one/everything-presence-one.yaml@main
  import_full_config: false

packages:
  remote_packages: 
    url: https://github.com/EverythingSmartHome/everything-presence-one/
    files: [common/everything-presence-one-base.yaml, common/everything-presence-one-sen0395-stable.yaml, common/sen0395-common.yaml]

binary_sensor: 
  - id: !extend mmwave
    pin:
      ignore_strapping_warning: true

esphome:
  name_add_mac_suffix: false
  comment: ${device_description}