substitutions:
  board_type: adafruit_feather_esp32s2_tft
  display_id: display_id
  display_model: TTGO TDisplay 135x240
  neopixel_power_pin: GPIO34
  i2c_sda_pin: GPIO42
  i2c_scl_pin: GPIO41
  i2c_power_pin: GPIO21
  st7789_cs_pin: GPIO7
  st7789_dc_pin: GPIO39
  st7789_reset_pin: GPIO40
  st7789_backlight_pin: GPIO45
  # st7789_width: "135"
  # st7789_height: "240"
  # st7789_offset_height: "52"
  # st7789_offset_width: "40"
  st7789_rotation: "90"


packages:
  device_base: !include feather_esp32s2.yaml
  display: !include st7789v.yaml


output:
  - id: !extend backlight_output
    pin:
      ignore_strapping_warning: true


display:
  - id: !extend ${display_id}
    backlight_pin:
      ignore_strapping_warning: true
    height: !remove
    width: !remove
    offset_height: !remove
    offset_width: !remove
