substitutions:
  sgp30_eco2_id: eco2
  sqp30_ec02_name: "eCO2"
  sgp30_tvoc_id: tvoc
  sgp30_tvoc_name: "TVOC"
  sgp30_update_interval: 1s
  sgp30_temperature_source: temperature
  sgp30_humidity_source: humidity

sensor:
  - platform: sgp30
    id: sgp30_sensor
    i2c_id: bus_a
    address: 0x58
    update_interval: 1s
    store_baseline: true
    compensation:
      temperature_source: ${sgp30_temperature_source}
      humidity_source: ${sgp30_humidity_source}
#    baseline:
    eco2:
      id: ${sgp30_eco2_id}
      name: ${sqp30_ec02_name}
      accuracy_decimals: 1
      filters:
        - sliding_window_moving_average:
            window_size: 15
            send_every: 15
            send_first_at: 5
        - filter_out: 65535
    tvoc:
      id: ${sgp30_tvoc_id}
      name: ${sgp30_tvoc_name}
      accuracy_decimals: 1
      filters:
        - sliding_window_moving_average:
            window_size: 15
            send_every: 15
            send_first_at: 5
        - filter_out: 65535

logger:
  logs:
    sgp30: INFO