substitutions:
  current_name: "Current"
  voltage_name: "Voltage"
  power_name: "Power"
  apparent_power_name: "Apparent Power"
  power_factor_name: "Power Factor"
  total_daily_energy_name: "Total Energy"
  current_limit: "15.0"
  button_gpio: GPIO0
  button_inverted: "true"
  relay_gpio: GPIO12
  relay_inverted: "false"
  relay_restore_mode: RESTORE_DEFAULT_OFF
  status_led_gpio: GPIO13
  status_led_inverted: "true"


# defaults:
#   button_gpio: GPIO0
#   button_inverted: "true"
#   relay_gpio: GPIO12
#   relay_inverted: "false"
#   relay_restore_mode: RESTORE_DEFAULT_OFF
#   status_led_gpio: GPIO13
#   status_led_inverted: "true"


globals:
  - id: restore_mode
    type: int
    restore_value: yes
    initial_value: "0"


preferences:
  flash_write_interval: 5min


logger: 
  baud_rate: 0 # (UART logging interferes with cse7766)
  logs:
    sensor: WARN # (Overide any global setting, to VERBOSE will spamming the cse7766 sensors)


select:
  - platform: template
    name: "Power On State"
    id: "power_mode"
    optimistic: true
    entity_category: config
    options:
      - Always Off
      - Always On
      - Restore Power Off State
    on_value:
      then:
        - lambda: |-
            id(restore_mode)=i+1;


binary_sensor:
  - platform: gpio
    pin:
      number: ${button_gpio}
      mode: INPUT_PULLUP
      inverted: ${button_inverted}
    id: power_button
    name: "Button"
    disabled_by_default: false
    on_multi_click:
      - timing:
        - ON for at most 1s
        - OFF for at least 0.2s
        then:
          - switch.toggle: relay
      - timing:
        - ON for at least 4s
        then:
          - button.press: restart_button


switch:
  - platform: gpio
    name: "Relay"
    pin: ${relay_gpio}
    id: relay
    restore_mode: ${relay_restore_mode}


status_led:
  id: blue_led
  pin:
    inverted: ${status_led_inverted}
    number: ${status_led_gpio}