substitutions:
  name: bedroom-air-quality
  friendly_name: Bedroom Air Quality
  room: Bedroom
  hostname: air-quality-bedroom
  device_description: "Bedroom Air Quality Monitor"


packages:
  device_base: !include common/qtpy_esp32s3.yaml
  scd: !include common/scd4x.yaml
  pmsa: !include common/pmsa003i.yaml
  dp: !include common/dew_point.yaml
  colors: !include common/colors.yaml



sensor:
  - id: !extend scd4x_sensor
    co2:
      on_value:
        - then:
            - lambda: |-
                auto call = id(neopixel_led).turn_on();
                Color co2RGB = aqiColor(round(x));
                call.set_rgb((float)co2RGB.r/255.0, (float)co2RGB.g/255.0, (float)co2RGB.b/255.0);
        - then: 
            - light.turn_on:
                id: neopixel_led
                transition_length: 0.5s
                brightness: 15%
                red: !lambda |- 
                  Color co2RGB = co2Color(round(x));
                  return (float)co2RGB.r / 255.0;
                green: !lambda |- 
                  Color co2RGB = co2Color(round(x));
                  return (float)co2RGB.g / 255.0;
                blue: !lambda |- 
                  Color co2RGB = co2Color(round(x));
                  return (float)co2RGB.b / 255.0;


