substitutions:
  name: dmx-controller
  friendly_name: DMX Controller
  hostname: dmx-controller
  room: Office
  device_description: "DMX Controller"
  log_level: DEBUG
  framework: "esp-idf"

packages:
  device_base: !include common/sparkfun_esp32_wroom_thing_plus_c.yaml
  # fixture1: !include 
  #   file: common/elation_level_q7_5chan.yaml
  #   vars:
  #     channel_r: 1
  #     channel_g: 2
  #     channel_b: 3
  #     channel_w: 4
  #     channel_d: 5
  #     light_id: f1
  #     light_name: "Light 1"
  fixture1: !include 
    file: common/elation_level_q7_12chan.yaml
    vars:
      channel_r: 1
      channel_g: 2
      channel_b: 3
      channel_w: 4
      channel_shutter: 8
      channel_dimmer: 9
      light_id: f1
      light_name: "Light 1"
  fixture2: !include 
    file: common/elation_level_q7_12chan.yaml
    vars:
      channel_r: 18
      channel_g: 19
      channel_b: 20
      channel_w: 21
      channel_shutter: 25
      channel_dimmer: 26
      light_id: f2
      light_name: "Light 2"
  fixture3: !include 
    file: common/elation_level_q7_12chan.yaml
    vars:
      channel_r: 35
      channel_g: 36
      channel_b: 37
      channel_w: 38
      channel_shutter: 42
      channel_dimmer: 43
      light_id: f3
      light_name: "Light 3"
  fixture4: !include 
    file: common/elation_level_q7_12chan.yaml
    vars:
      channel_r: 52
      channel_g: 53
      channel_b: 54
      channel_w: 55
      channel_shutter: 59
      channel_dimmer: 60
      light_id: f4
      light_name: "Light 4"


external_components:
  - source: github://andyboeh/esphome-dmx512
    components: [dmx512]


uart:
  - id: uart_bus
    tx_pin:
      number: GPIO17
      allow_other_uses: true
    rx_pin:
      number: GPIO16
    baud_rate: 250000
    stop_bits: 2

dmx512:
  - id: dmx
    uart_id: uart_bus
    enable_pin:
      number: GPIO4
    tx_pin:
      number: GPIO17
      allow_other_uses: true
    uart_num: 1



