substitutions:
  device_name: power-meter-15kw
  friendly_name: Power Meter 15kW
  fqdn: power-meter-15kw.sf.aberrant.org


packages:
  device_base: !include common/feather_esp32s3.yaml


esphome:
  platformio_options:
    board_build.flash_mode: dio


bluetooth_proxy:
  active: true


sensor:
  - platform: homeassistant
    name: Power
    id: power
#    entity_id: sensor.meter_test_sensor
    entity_id: sensor.mains_power_total
    unit_of_measurement: 'W'
    internal: true
    filters:
      - calibrate_polynomial:
          degree: 5
          datapoints:
            - 0.0 -> 0
            - 2500 -> 2320
            - 5000 -> 4630
            - 7500 -> 7030
            - 10000 -> 9300
            - 12500 -> 11760
            - 15000 -> 14150
    on_value:
      then:
        - lambda: |-
            float pct = x / 7500; // 15000
            id(meter_output1).set_level(pct);
            id(meter_output2).set_level(pct);


output:
  - platform: ledc
    pin: GPIO5
    id: meter_output1
    frequency: 25000Hz

  - platform: ledc
    pin: GPIO6
    id: meter_output2
    frequency: 25000Hz

